In [ ]:
# sql insert 구문 학습

In [ ]:
# 기본적인 insert 구문

INSERT INTO dbo.dept (deptno, dname, loc) 
VALUES (50, 'IT TEAM', 'SEOUL')

In [ ]:
# 입력한 테이블의 모든 칼럼을 추구할 경우의 선언


INSERT INTO dbo.dept VALUES (60, 'DEV TEAM', 'PANGYO')

# 이런식으로 칼럼에 해당하는 값을 기입해주면 된다.

In [ ]:
# KRX 전종목 기본정보 영역에서 상장된 정보 새로 기입해주기 위한 실습

In [ ]:
# 기존 구성 코드 -> 오류발생

INSERT INTO (isin_code,ticker_symbol,ticker_name_full,ticker_name,ticker_name_eng,market_type,share_type,listing_date,listed_share,par_value,company_category,security_type,maintain) VALUES('{n['isin_code']}','{n['ticker_symbol']}','{n['ticker_name_full']}','{n['ticker_name']}','{n['ticker_name_eng']}','{n['market_type']}','{n['share_type']}','{n['listing_date']}','{n['listed_share']}','{n['par_value']}','{n['company_category']}','{n['security_type']}','{n['maintain']}')WHERE ticker_symbol ='{n['ticker_symbol']}'

In [ ]:
# 새로 구성하는 코드

In [ ]:
INSERT INTO listed_issue VALUES ('{n['isin_code']}','{n['ticker_symbol']}','{n['ticker_name_full']}','{n['ticker_name']}','{n['ticker_name_eng']}','{n['market_type']}','{n['share_type']}','{n['listing_date']}','{n['listed_share']}','{n['par_value']}','{n['company_category']}','{n['security_type']}', True) WHERE ticker_symbol = 'o[1]'

In [ ]:
#문제가 update 뒤 where문이 오류가 난다 -> 이부분 해결필요

In [ ]:
# 문제는 sql insert 문에서는 where 가 지원하지 않는 것이였다.

INSERT INTO listed_issue VALUES ('{n['isin_code']}','{n['ticker_symbol']}','{n['ticker_name_full']}','{n['ticker_name']}','{n['ticker_name_eng']}','{n['market_type']}','{n['share_type']}','{n['listing_date']}','{n['listed_share']}','{n['par_value']}','{n['company_category']}','{n['security_type']}', True) 

# 이렇게 where문을 삭제하면 잘 돌아가는 sql 문이란느 것을 확인할 수 있었다.